<div class="container-fluid">
  <img  class="img-fluid" src="../../assets/Ainosoft Homepage.png">
  <div class="top-right">Navigating business<br>challenges together</div>
</div>
<div class="content">
  <h2>What can we help you achieve?</h2>
  
    <div class="dropdown">
      <button class="btn btn-secondary" type="button" data-toggle="dropdown"><span class="text">I am looking for</span>
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li class="dropdown-header"></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
        <li class="divider"></li>
        </ul>
  </div><br>
  <input type="submit" value="Submit">
</div><br>

<div class="about">
<h2>About Us</h2>
<p>We are a group of experienced engineers and designers in love with building applications for
web and mobile. We provide custom software development services along with solutions to
support a diverse range of software development lifecycle strategies.</p>
<p>At AinoSoft, we follow agile software development methodologies for rapid application
development. We are dedicated to the processes we follow, the architecture we use and the
designs we choose and implement.</p>
</div><br>



