.home-page{
    position: relative;
    
}

.container-fluid{
    width: 100vw;
    padding-left: 1px;
   

    .img-fluid{
        width: 100vw;
        height: 85vh;  
        margin-top: 7vh;
    }
}

.text-content{
    bottom: 75vh;
    text-align: center;
    color:white;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    animation: animtext 4s; 
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
    opacity: .7;
   
  }
  @keyframes animtext { 
    from {
        width: 0;
        transition: left 2s ease-in-out;
    } 
  }

.content{
    margin-left: 1em;
    margin-top: 0vh;
    margin-right: 1em;
}

.caret {
    margin-left:88%;
    width: 1vw;
    height: 1vh;
}

.btn{
    margin-left:2%;    
    display: flex;
    font-size: 1.5em;   
    width: -webkit-fill-available;
    border: 0px solid transparent;
    margin-right: 3%;
}

.about{
    font-size:1.3em;
}









