<div>
  <h3 class="col-sm col-md col-lg">Our Clients</h3>
</div><br>

<div class="container-fluid">
  <div class="row">
    <div class="rejoyos col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/ReJoyos.png">
    </div>
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/InterLab.png">
    </div>
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/Pyramid analytics.png">
    </div>
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/Lycos.png">
    </div>
  </div>
  <br><br>
  
  <div class="row">
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/OpptIn.png">
    </div>
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/Mindrose.png">
    </div>
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/InterLab.png">
    </div>
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/AthenaInCloud.png">
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/extrapola.png">
    </div>
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/engile.png">
    </div>
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/7layers.png">
    </div>
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/ArchitNET.png">
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/engage.png">
    </div>
    <div class="col-md col-lg-3 col-xs col-sm p-4">
      <img src="assets/WIPRO.png">
    </div>
    <div class="col-md col-lg-3 col-xs col-sm  p-4">
      <img src="assets/webradar.png">
    </div>
    <br><br>
  </div>
  <br><br>
  <br><br>
</div>
