<div class="col-sm col-md-center">
    <h2>Services</h2>
</div>


<div class="card-deck">
    <div class="card">
        <img class="card-img-top rounded" src="assets/Startup-01.png" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">START-UP PARTNERSHIPS</h4><br>
            <p>We provide start-ups with
                services ranging from ideation to mvp development,
                testing and deployment ensuring that the unique
                challenges they encounters are tackled efficiently.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top rounded" src="assets/Resource Augmentation-01.png" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">RESOURCE AUGMENTATION</h4><br>
            <p>Augment and strengthen your
                existing team with AinoSoft.We specialize in b2b
                collaboration with remote clients located in varied time
                zones using a wide array of cloud-based collaboration
                and communication tools.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top rounded" src="assets/Managed Services-01.png" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">MANAGED SERVICES</h4><br>
            <p>We take complete ownership
                of the lifecycle management of your product, allowing you
                to focus on your customers while we leverage our
                experience and expertise to develop your product.</p>
        </div>
    </div>
</div>

<div class="col-sm col-md-center">
    <h2>FUTURE-PROOF DEVELOPERS PROGRAM</h2>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="col">
            <img class="col-sm col-lg-8 col-md-3 img-thumbnail" src="assets/future proof developers-01.png">
        </div>
        <div class="col">
            <p>In setting up professional internships, we aim to prepare smart
                yet theory driven individuals into a well rounded, highly skilled
                and well adapted software development professional. The topics
                covered in the internship program include:
            </p>
            <ul class="col-sm-12 col-md col-lg">
                <li>Java 8 | Angular 12 | Web and mobile application
                    development | Test driven development practices | Agile
                    and Scrum methodology | Database creation interactions
                    with Hibernate | GIT and GitHub operations | Creating and
                    consuming REST API's | Container based deployments
                </li>
            </ul>
        </div>
        <ul>
            <li>Practical approach with one or more hands on experience of developing enterprise quality
                application.
            </li><br>
            <li>AinoSoft guarantees high standards of software development practices imbibed in all developers
                who complete the program.
            </li><br>
        </ul>
    </div>


    <div>
        <h1 class="col-sm col-md-center">Our Work</h1>
    </div><br><br>

    
        <div class="row">
            <div class="col">
                <img class="col-sm col-lg-8 col-md-3 img-thumbnail"  src="assets/Research Delta.png">
            </div>
            <div class="col">
                <img class="col-sm col-lg-8 col-md-3 img-thumbnail"  src="assets/BI Office.png">
            </div>
        </div><br>


        <div class="row">
            <div class="col">
                <div class="row align-item-center">
                    <h3>InfoZymes - ResearchDelta</h3>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            Google web toolkit front end
                            Java based backend</li>
                        <li>Built using xTractor (AinoSoft
                            WebScraper)</li>
                        <li>High performance search using Apache
                            Solr
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="row align-item-center">
                    <h3>BI Office</h3>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            Angular2 web app with typescript for
                            business intelligence</li>
                        <li>Custom java framework</li>
                        <li>Core built by us</li>
                        <li>Based on AppOps</li>
                    </ul>
                </div>

            </div>
        </div>
    <br>

    
        <div class="row">
            <div class="col">
                <img class="col-sm col-lg-8 col-md-3  img-thumbnail"  src="assets/Rejoyos.png">
            </div>
            <div class="col">
                <img class="col-sm col-lg-8 col-md-3  img-thumbnail"  src="assets/Engage.png">
            </div>
        </div>
    <br>


    
        <div class="row">
            <div class="col">
                <div class="row align-item-center">
                    <h3>Rejoyos</h3>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            New approach to team interactions and
                            coordination</li>
                        <li>iOS and Android native apps</li>
                        <li>Angular with Java web app</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="row align-item-center">
                    <h3>Engage</h3>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            Hybrid android and iOS app using
                            Cordova with Ionic framework</li>
                        <li>Ruby on rails backend</li>
                        <li>Quick and easy CRM for small teams</li>
                    </ul>
                </div>

            </div>
        </div>
    <br>



    
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <h3>Niidle</h3>
            </div>
            <div class="col-sm"></div>
        </div>
        <ul class="niidle-center">
            <li>
                AI driven configuration recommendation service</li>
            <li>Capable of working with petabytes of data</li>
            <li>Uses Tensor Flow machine learning along with apache mahout</li>
            <li>Capable of scaling to hundreds of machines</li>
        </ul>

      
    <br>


  
</div>