h3{
    margin-top: 6%;
    margin-left: 12%;
}

.card-deck{
    margin-right: 10%;
    margin-left: 10%;
}

.card{
    border: 0px solid rgba(0,0,0,.125);
}

.rounded {
    border-radius: 2.25rem!important;
}

.card-title{
    font-size: 20px;
}

.card-text{
    font-size: 17px;
}
.text{
    margin-top: 15%;
    font-size: 20px;
    margin-left: 0%;
}

li{
    font-size: 18px;
    margin-left: 0%;
}

.middle{
    margin-left: 14%;
}