h2{
    margin-top: 14vh;
    margin-left: 12vw;
    position: relative;
    z-index: -1;
}

h3{
    margin-left: 5vw;
}

.card-deck{
    position:relative;
    z-index:-1;
    margin-right: 10%;
    margin-left: 10%;
}
.container{
    position:relative;
    z-index:-1;
    padding-right: 20px;
}

.card{
    border: 0px solid rgba(0,0,0,.125);
}

.rounded {
    border-radius: 2.25rem!important;
}

.card-title{
    font-size: 1.7em;
}

p{  
    font-size: 1.3em;
}


li{
    font-size: 1.3em;
    margin-left: 0%;
}

.niidle-center{
    margin-left: 12vw;
}