.py-5 {
    padding-bottom: 2rem!important;
}
.my-5{
    margin-bottom: 0rem!important;
}
.navbar{
    border-radius: 4px;
    position: fixed;
    width: 99vw;
    margin-bottom: 5%;
}
.image-logo{
             width: 30%;
         }
         
nav .navbar-nav li a{
             color:darkblue !important;
        }
    
nav .navbar-nav li a:hover{
            color:black !important;
        }

.navbar-nav li {
        margin-right: 4%;    
}      
     
ul{
    margin-right: 4%;
}

h5{
    margin-top: -1em;
    margin-right: -70em;
}

.company-logo1 img{
    width: 8vw;
    height: 4vh;
    margin-left:-1200%;
    margin-top: 10%;
}

.company-logo2 img{
    width: 10vw;
    height: 11vh;
    margin-left: -950%;
    margin-top: -10%;
}

.company-logo3 img{
    width: 10vw;
    height: 3vh;
    margin-left: -950%;
    margin-top: 10%;
}

.fab {
    padding: 8px;
    font-size: 18px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background-color: #ffc107;
  }

  .fab:hover {
    opacity: 0.7;
}

.fa-facebook-f {
    color:black;
    border: 1px solid;
  }

  .fa-linkedin-in{
    border: 1px solid;
    color:black;
  }

  .fa-twitter{
    border: 1px solid;
    color:black;
  }
  .fa-quora{
      font-size: 38px;
      margin-top: -6%;
  }

  h4{
      margin-top: -34px;
      margin-bottom: 10px;
      margin-right: -68%;
  }




