<nav class="navbar  navbar-expand-lg  navbar-light" style="background-color:lightgray">
  <span>
    <img class="image-logo" src="assets/logo.png">
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav float-md-right">
      <li>
        <a routerLink="/home-page" routerLinkActive="active">HOME</a>
      </li>
      <li>
        <a routerLink="/innovation-page">INNOVATION</a>
      </li>
      <li>
        <a routerLink="/service-page">SERVICES</a>
      </li>
      <li>
        <a routerLink="/client-page">CLIENTS</a>
      </li>
      <li>
        <a routerLink="/contact-page">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>


<div class="my-0">
  <footer class="text-center text-lg-start text-black">

    <section class="d-flex justify-content-between p-0" style="  background-color: #ffc107">

      <div class="me-5  d-flex">
        <span><img class="ml-5 rounded float-start" src="assets/Artikulate logo green.png" style="width:11em;">
          <img class="ml-2 rounded float-middle" src="assets/Appops Logo full.png" style="width: 10em;">
          <img class=" rounded float-end" src="assets/xTractor logo.png" style="width: 10em;"></span>
      </div>

      <div class="footer-icons">
        <h4>Follow Us</h4>
        <a href="" class="text-white me-4">
          <button type="button" class="btn btn-light btn-floating mx-2">
            <i class="fab fa-facebook-f"></i>
          </button>
        </a>

        <a href="" class="text-white me-4">
          <button type="button" class="btn btn-light btn-floating mx-2">
            <i class="fab fa-linkedin-in"></i>
          </button>
        </a>

        <a href="" class="text-white me-4">
          <button type="button" class="btn btn-light  btn-floating mx-2">
            <i class="fab fa-twitter"></i>
          </button>
        </a>

        <a href="" class="text-white me-4">
          <button type="button" class="btn btn-light  btn-floating mx-2">
            <i class="fab fa-quora"></i>
          </button>
        </a>
        <h4 class="p-2">AinoSoft ©2014-2022 All rights reserved.</h4>

      </div>

    </section>
  </footer>
</div>