<nav class="navbar  navbar-expand-lg  navbar-light" style="background-color:lightgray">
  <span>
    <img class="image-logo" src="assets/logo.png">
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav float-md-right">
      <li>
        <a routerLink="/home-page" routerLinkActive="active">HOME</a>
      </li>
      <li>
        <a routerLink="/innovation-page">INNOVATION</a>
      </li>
      <li>
        <a routerLink="/service-page">SERVICES</a>
      </li>
      <li>
        <a routerLink="/client-page">CLIENTS</a>
      </li>
      <li>
        <a routerLink="/contact-page">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>

<div class="my-5">

  <footer class="text-center text-lg-start" style="background-color:#ffc107;">
    <div class="container d-flex justify-content-end py-5">
      <div>
        <h5>Follow Us</h5>
      </div>

      <div class="company-logo1">
        <img src="assets/Artikulate logo green.png">
      </div>

      <div class="company-logo2">
        <img src="assets/Appops Logo full.png">
      </div>

      <div class="company-logo3">
        <img src="assets/xTractor logo.png">
      </div>
      

      <a class="fb-ic">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a class="li-ic">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a class="tw-ic">
        <i class="fab fa-twitter"></i>
      </a>

      <a class="quora-ic">
        <i class="fab fa-quora"></i>
      </a>
    </div>

    <h4>AinoSoft © 2014 - 2022 All rights reserved.</h4>


  </footer>

</div>