
// @import "~bootstrap-4.0.0/scss/mixins/_breakpoints.scss";


.navbar{
    border-radius: 4px;
    position: fixed;
    width: 99vw;
    margin-bottom: 5%;
}
.image-logo{
             width: 30%;
         }
         
nav .navbar-nav li a{
             color:darkblue !important;
        }
    
nav .navbar-nav li a:hover{
            color:black !important;
        }

.navbar-nav li {
        margin-right: 4%;    
}      
     
ul{
    margin-right: 4%;
}

.row{
    background-color: #ffc107;
    margin-right: 0px;
    margin-left: 0px;
}

.artikulate img{
    left: 1em;
    width:10em;
    margin-top: 4em;
}

.appops img{
    width:9em;
    margin-top: 0.6em;
}

.xTractor img{
    width:9em;
    margin-top: 4em;
}

.btn-light{
    border-color: black;
    color:black;
    background-color: #ffc107;
}

.btn {
    border-radius: 50%;
    padding: 6px 10px;
    font-size: 1em;
    line-height: 1.333333;
}

  .fab:hover {
    opacity: 0.7;
}
.footer-icons{
margin-left:2vw;
}

.social-media-icons{
    position: relative;
    // left: 40vw;
}
