.innovation-container{
    position:relative;
    z-index:-1;
    margin-left: 0vw;
    margin-right: 2vw;
} 

h3{
    margin-top: 10vh;
    margin-left: 2vw;
}

.img-thumbnail{
border: 0px solid #ddd;
}

.appops-logo img{
    width: 35%;
    margin-top: 0vh;
    margin-left: -2vw;
}

.appops-content{
    margin-bottom:4vh;
    margin-left: -1vw;
}

p{
    font-size: 1.32em;
}

.artikulate-logo img{
    width:40%;
    margin-top: 8vh;

}

.xTractor-logo img{
    width: 40%;
    margin-top: 10vh;
    margin-left: -1vw;
}



