<div class="innovation-container  " ><br>
  <h3>INNOVATION</h3>

  <div class="container">
    <div class="row">
      <div class="col">
        <img src="../../assets/AppOps.png" style="width: 500px; height: 400px;">
      </div>
      <div class="col">
        <div class="row">
          <img src="../../assets/Appops Logo full.png" style="width: 250px; height: 250px; margin-top: -40px;">
        </div>
        <p class="text"><b>AppOps</b> is a cloud application infrastructure framework
          that uses cloud neutral api’s to develop, deploy and run
          microservices with a web and mobile application to use
          them.</p>
        <p>Appops improves the interoperability between different
          programming ecosystems and helps the modules in an
          app ‘Talk’ better. <a href="Learn more"><u>Learn more</u></a></p>
      </div>
    </div>
  </div>

  <div class="spacer">
  </div><br>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <img src="../../assets/Artikulate logo green.png"
            style="width: 250px; height: 70px; margin-top: 40px; margin-left: 2%;">
        </div><br>
        <p class="text2"><b>Artikulate</b> is an AI driven article extraction platform
          deployed to fetch, convert, sort and display
          newspaper articles from various online sources in a
          well-formatted, tabulated and searchable format.</p>
        <p>Using machine learning algorithms trained on
          various online print formats, artikulate can extract
          articles with 99.99 percent accuracy at the rate of a
          million pages per hour with zero downtime coupled
          with state-of-the-art storage and retrieval
          mechanisms.<a href="Learn more"><u>Learn more</u></a></p>
      </div>
      <div class="row">
        <div class="col">
          <img src="../../assets/Artikulate.png" style="width: 525px; height: 460px;">
        </div>
      </div>

      <div class="spacer">
      </div><br>


      <div class="container">
        <div class="row">
          <div class="col">
            <img src="../../assets/XTractor.png" style="width: 520px; height: 450px;">
          </div>
          <div class="col">
            <div class="row">
              <img src="../../assets/xTractor logo.png" style="width: 200px; height: 70px; margin-top: 50px;">
            </div><br>
            <p class="text3"><b>xTractor</b> is an easy to use and configurable
              scraping solution using xPath. It is able to bypass
              most blocking and throttle implementations with
              innovative approaches and analyze and convert
              unstructured html to structured xml. It is made for
              high performance and can be used at scale.</p>
          </div>
        </div>
      </div>
    </div>