<div class="innovation-container"><br>

  <div class="container">
    <h3>INNOVATION</h3>
    <div class="row">
      <img class="col-sm col-lg-4 col-md-3 img-thumbnail" src="assets/AppOps.png">
      <div class="col offset-1">
        <div class="row">
          <div class="appops-logo">
            <img  src="assets/Appops Logo full.png">
          </div>
        </div>
        <div class="row">
          <p class="appops-content"><b>AppOps</b> is a cloud application infrastructure framework
            that uses cloud neutral api’s to develop, deploy and run
            microservices with a web and mobile application to use
            them.<br>
            Appops improves the interoperability between different
            programming ecosystems and helps the modules in an
            app ‘Talk’ better. <a href="Learn more"><u>Learn more</u></a></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col ml-5">
        <div class="row">
          <div class="artikulate-logo">
            <img src="assets/Artikulate logo green.png">
          </div>
        </div><br>
        <div class="row">
          <p><b>Artikulate</b> is an AI driven article extraction platform
            deployed to fetch,<br> convert, sort and display
            newspaper articles from various online sources in a
            well-formatted, tabulated and searchable format.<br>
            Using machine learning algorithms trained on
            various online print formats, artikulate can extract
            articles with 99.99 percent accuracy at the rate of a
            million pages per hour with zero downtime coupled
            with state-of-the-art storage and retrieval
            mechanisms.<a href="Learn more"><u>Learn more</u></a></p>
        </div>

      </div>
      
        <img class="col-sm col-lg-4 col-md-3 offset-1 img-thumbnail" src="assets/Artikulate.png">
      

    </div>


    <div class="row">

      <img class="col-sm col-lg-4 col-md-3 img-thumbnail" src="assets/XTractor.png">

      <div class="col offset-1">
        <div class="row">
          <div class="xTractor-logo">
            <img src="assets/xTractor logo.png">
          </div>
        </div><br>
        <div class="row">
          <p><b>xTractor</b> is an easy to use and configurable
            scraping solution using xPath. It is able to bypass
            most blocking and throttle implementations with
            innovative approaches and analyze and convert
            unstructured html to structured xml. It is made for
            high performance and can be used at scale.</p><br>
        </div>
      </div>
    </div> 
  </div>
</div>