.formlayout{
    background-color:lightgrey;
}
.container{
    position:relative;
    z-index:-1;
}

h3{
    margin-top: 25%;
    margin-left: 4%;
}
h5{
    margin-left: 4%;
}
.col-4{
    margin-left: 2%;
}

.form-control{
    margin-left: 4%;
    width: 14vw;
}

.form-control1 {
    margin-left: 4%;
    width: 28vw;
    height: 12vh;
    border: none;
}

.btn-light{
    margin-left: 70%;
    width: 8vw;   
}

p{
    font-size: 17px;
}

.career{
    margin-top: 25%;
    margin-left: 40%;

}